<ng-container [formGroup]="passwordFormGroup">
	<div class="input-container">
		<label for="password">Mot de passe</label>
		<input
				class="auth-input"
				formControlName="password"
				id="password"
				placeholder="mot de passe"
				type="password">
	</div>

	<app-error-message
			[condition]="passwordFormGroup.controls['password'].touched
			&& passwordFormGroup.controls['password'].hasError('required') ||
				passwordFormGroup.controls['password'].hasError('pattern')"
			[message]="'Votre mot de passe doit contenir minimum 8 caractères, 1 majuscule, 1 chiffre et 1 caractère spécial ($@$.!%*?&)'"
	>
	</app-error-message>

	<div class="input-container">
		<label for="confirmPassword">Mot de passe</label>
		<input
				class="auth-input"
				formControlName="confirmPassword" id="confirmPassword"
				placeholder="confirmer mot de passe"
				type="password">
	</div>

	<app-error-message
			[condition]="passwordFormGroup.controls['confirmPassword'].touched
				&& passwordFormGroup.controls['password'].value !==
				passwordFormGroup.controls['confirmPassword'].value"
			[message]="'Le mot de pas n\'est pas identique'"
	>
	</app-error-message>
</ng-container>
