:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.chart-container {
  max-width: 600px;
  width: 90%;
  margin: auto;
}
