:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.month-container {
  width: 90%;
  max-width: 400px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 16px 4px #d0d0d0;
  margin: auto auto 20px;

  &.active {
    background-color: #4caf50;
    border-color: #4caf50;
  }

  h2 {
    padding-top: 10px;
  }

  .forecast-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;

    .forecast {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
